.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100dvw;
}

@media (width < 350px) {
  .container {
    display: flex;
    flex-direction: column;
    max-width: 100dvw;
  }
}
