@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #051923;
  --text: #fff;
}

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
}
input,
button,
textarea,
select {
  font: inherit;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

.container {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: var(--background);
  color: var(--text);
}
